.product_list {
  display: grid;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 4rem;
  padding-right: 4rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: grey;
  opacity: 0.9;

  h3 {
    margin-left: 24px;
    font-weight: bold;
    color: white;
    opacity: 0.7;
  }

  p {
    margin-right: 24px;
    font-size: 24px;
    font-weight: bold;
  }
}

.product {
  align-items: center;

  .image {
    height: 15rem;
    width: 15rem;
    margin-bottom: 10px;
  }

  .title {
    font-weight: bold;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50rem;
    overflow: hidden;
    max-height: 1.4rem;
    line-height: 1.4rem;
  }

  .price {
    font-size: 1.75rem;
    line-height: 10px;
    font-weight: bold;
    color: red;
  }

  .description {
    text-align: center;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
  }
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;

  img {
    width: 30rem;
    height: 30rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;

    .title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    .price {
      font-weight: bold;
      color: red;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    .description {
      font-size: 1.5rem;
    }

    .btn {
      margin-top: 4rem;
      text-transform: uppercase;
      font-weight: bold;
      max-width: 25rem;
    }
  }
}